@import "variables";

.status {
    display: inline-flex;
    margin: 10px;
    width: 47%;
    flex-direction: column;
    color: white;
    background: $colorOrderCard;
    font-family: $fontType;
    font-style: $fontStyle;
    font-size: 20px;
    p{
      margin: 0 10px;
      width: fit-content;
      padding: 2px;   
      .info, th {
        color: #B67120;
        // font-weight: 500;        
      }
    }

    .tableDataOrder {
      // margin-top: $font-button;
      // margin-bottom: $font-button*2;
      .info {
        color: #B67120;
        // width: 2px;
      }
      .small {
        width: 2px;
      }      
    }
    
    button {
      // position: absolute;
      // bottom: 220px;
      background: #C32A2A;
      //  #15c742;
      border-style: none;
      color: white;
      padding: 10px;
      font-size: 15px;

      width: 30%;
      border-radius: 10px;
      // right: 500px;
    }
    .tot {
      margin: 0;
      width: auto;
      padding: 5px;
      border-top: 3px solid;
      // font-weight: bold;
      letter-spacing: 2px;
    }
  }
  .tableOrderCard {
    margin-top: $font-button;
    // margin-bottom: $font-button*2;
    margin-bottom: $font-button;
    td, th {
      text-align: left;
      vertical-align: top;
      border-collapse: collapse;
      border-bottom: 1px solid white;
      border-top: 1px solid white;
    }
    i {
      color: #ffffff;
      cursor: $pointer;
    }
  }